.duck-header {
    font-size: xxx-large;
    font-weight: bold;
    text-align: center;
}

.sub-header {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.statement {
    list-style-type: none;
    text-align: center;
}

.green-line {
    border: 5px solid darkolivegreen;
    border-radius: 2.5px;
}


