.fancy-header{
    color: purple;
}

body {
    color: black;
    background: black;
}

h2{
    text-align: center;
}

h3{
    color: red;
    text-decoration: underline;
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: upper-roman;
}

body {
    font-family: Helvetica, sans-serif;
}

/*table, th, td {*/
/*    border: 20px solid black;*/
/*    padding: 10px;*/
/*}*/

a:visited {
    color: orange;
}

body {
    background-image: url("/img/pexels-henry-&-co-1939485.jpg");
}